*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/*----------------------------header--------                ------------*/
header{
    padding: 0 10px;
    background: linear-gradient(-65deg, blue, rgb(209, 48, 177));
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: azure;
}
header li{
    list-style: none;
}
header a{
    color:whitesmoke;
    text-decoration: none;
}
.logo_LIVENET{
    width: 5rem;
    margin-bottom: 0.5rem;

}
.nav-bar{
    min-height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.nav-branding{
    font-size: 2rem;
    display: flex;
    align-items: center;
   
}
.nav-link{
    transition: 0.7s ease;
    margin: 2rem;
    
}
.nav-link:hover{
    color:dodgerblue;
    font-size: 13px;
    font-weight: bolder;

}
.hamburger{
    display: none;
    cursor:pointer
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: whitesmoke;
}
/*-----------------------body-----------*/

body{
    font-family: 'Roboto',sans-serif;    
}
h1{font-size: 3em;}
h2{font-size: 2.3em;}
h3{font-size: 1.7;}
p{font-size: 1.25;}
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------PIE DE PAGINA------------------------------------------------------------------*/
.foot {
    background:#383E45;
    padding-top: 1rem;
    padding-bottom: 2rem;
   
    }
footer .container{
    display:grid;
    grid-template-columns: 
    repeat(auto-fit,minmax(min(350px,100%),1fr));
    gap: 2px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
    
}
   .foot-sitios-tit{
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 7px;  
    
}   
.foot-link{
    display: grid;
    text-decoration: none;
    color:rgb(173, 128, 214);
    
}


.contact-tit{
    color: whitesmoke;
}

.contact-li{
    display: grid;
    color: rgb(173, 128, 214);
    text-decoration: none;
    padding:2px;
}


.foot-contactos{
    color: whitesmoke;
}

.wrapperf ul{
    list-style-type: none;
}
.fa-brands{
    transform: scale(1.3);
}
.wrapperf ul li{
    width: 35px;
    height: 35px;
    line-height: 2px;
    padding-left: 100px;
    padding-top: 1rem;
    cursor: pointer;
    border-radius: 50%;
    float: left;
    transition: all 0.5 ease;
}

footer .facebook:hover{
    transform: scale(1.5);   
    transition: all 0.5 ease;
}
footer .instagram:hover{
    transform: scale(1.5);
    transition: all 0.5 ease;
}
footer .tiktok:hover{
    transform: scale(1.5);
    transition: all 0.5 ease;
}
footer .whatsapp:hover{
    
    transform: scale(1.5);
    transition: all 0.5 ease;
}

.foot-copy{
    color: aliceblue;
}

/*-------------------------mobile---------------------*/
@media(max-width:768px){
    
    .hamburger{
        
        display: block;
    }
    .hamburger.activate .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.activate .bar:nth-child(1){
        transform: translate(8px) rotate(45deg);
    }
    .hamburger.activate .bar:nth-child(3){
        transform: translate(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background: linear-gradient(-65deg, blue, rgb(209, 48, 177));
        width: 100%;
        text-align: center;
        transition: 0.3s;
        color: blue;
        z-index: 30;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.activate{
        left: 0;
    }
}